/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #507963;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #3a4c40;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #3a4c40;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3a4c40;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #edeff3;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  height: 100vh;
  background-image: url(./img/background_05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* left: 260px;
  width: calc(100% - 260px); */
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  display: flex;
  justify-content: space-between;
}
/*  */
.m-text{
  
    z-index: 12;
    letter-spacing: 2px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /* margin-top: 100px;
    margin-left: 900px;
    margin-right: 100px; */
}
.m-text h1{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
}
.m-text span{
    font-size: 60px;
    color: #edeff3 ;
    font-weight: 500;
}
.m-text .pet-l{
  font-weight: 800;
  font-size: 45px;
  color: lightgreen;
}
.home-content {
    position: relative;
    z-index: 4;
}
.dog-bg{
    
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.dog-bg1 {
    height: auto;
    width: 100%;
    z-index: 2;
    bottom: 0;
}
.dog-bg1 img {
  margin-top: 700px;
  width: 100%;
  height: 100%;
}
.main-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
/* .mi-text{

} */
.mi-text h1{
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-left: 70px;

}
.mi-text h1 span{
  color: #ffa047;
}
.img-hool{
  margin-left: 150px;
}
.img-hool img{
  margin-left: 80px;
  animation: scroll 10s linear infinite;
  animation-timing-function: ease-in-out;
}
@keyframes scroll{
  20%{
    margin-top: -600px;
  }
  80%{
    margin-top: 100px;
  }
  
}
.food-d {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;

}
.dog-food{
  width: 100%;
  display: flex;
  align-items: center;
}
.dog-food h3{
  font-size: 12px;
  margin-left: 20px;
}
.dog-food i{
  font-size: 25px;
  color: #ffa047;
}
.dog-food i:hover{
  color: #000;
  transition: 1s;
}
.section-product{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-text{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-text h1{
  font-size: 80px;
  text-align: center;
}
.product-text span{
  color: #ffa047;
}
.product-text p{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.product-text .price{
  margin-top: 60px;
  font-size: 50px;
  font-weight: bold;
}
.bone {
  height: 200px;
  width: 350px;
  margin-left: 150px;
  margin-top: 100px;
  animation: rotate 2s linear infinite;
  animation-timing-function: ease-in;
}

.a1 {
    animation: a1 2s linear infinite;
}








@keyframes a1{
    50%{
      transition: all 1s;
      transform: rotate(15deg);
    }
    100%{
      transform: rotate(-5deg);
    }
    
  }


.home-section1{
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section1{
  left: 78px;
  width: calc(100% - 78px);
}
.last{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.last-text{
  text-align: center;
}
.last-text h1{

  color: #ffa047;
  font-size: 90px;
}
.last-text p{
  gap: 20px;
  font-size: 40px;
  font-weight: 700;
}
.last-text span{
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: bold;
}
.last-img{
  margin-left: 295px;
  overflow: cover;
}
.molly{
  color: #ffa047;
}

.saaral-img{
  width: 100%;
  height: 500px;
  background-color: #5b6b48;
  position: relative;
}
.saaral-img img{
  position: relative;
  width: 100%;
  height: 30%;

}





@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
