@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction:column;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    position: relative;
    text-decoration: none;
    max-height: 100px;
    max-width: 250px;
}
#logo img{
    width: 100%;
    height: 100%;
}
.navigation{
    display: flex;
}
header .navigation a{
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    margin: 0 15px;
    
}
header .navigation a:hover{
    transition: 1.5s;
    background: #ffcd4c;
    cursor: pointer;
}
.icons {
    display: flex;
    gap: 15px;
}
.content{
    max-width: 100%;
    margin: 60px 100px;
    display: flex;
    justify-content: space-between;
}
.content .info{
    max-width: 550px;
    display: block;
}
.info h2{
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #ffcd4c 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 80px;
}
@keyframes textclip {
    to {
      background-position: -200% center;
    }
  }

.content .info span{
    color: #111;
    font-size: 40px;
    font-weight: 600;
}
.content .info p{
    font-size: 20px;
    font-weight: bold;

    
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.content .info-btn{
     width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000;
    background: #ffcd4c;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    position: absolute;
    margin-top: -100px;
}
.info-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.info-btn:active {
    color: #fff;
}

.info-btn:active:after {
    background: transparent;
}

.info-btn:hover:before {
    opacity: 1;
}

.info-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.content .info-btn:hover{
    background: orangered;
}
.pic-flower img {
    max-width: 70px;
    max-height: 70px;
    animation: visible 4s infinite;
}
.sunflower1{
    margin-left: 500px;
    margin-top: -60px;
    display: flex;
}
.sunflower2{
    margin-left: 600px;
    margin-top: -150px;
    display: flex;
}
.sunflower3{
    margin-top: -180px;
    margin-left: 580px;
    display: flex;
}
.sunflower4{
    margin-top: 220px;
    margin-left: 550px;
    display: flex;
}

.img-hh {
    position: absolute;
    margin-top: -100px;
    margin-left: 699px;
    width: 720px;
    height: 600px;
}
.img-hh img{
    width: 100%;
    height: 100%;
}
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition-property: transform ;
}
.media-icons a:not(:last-child) {
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}
label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}
@media(max-width: 1200px){
    .navigation{
        margin-left: 0px;
    }
}